<html>
   <body>
      <form action='/upload' method=post encType="multipart/form-data">
          <input type="file" name="audio_file">
          <br>
          <input type="submit" value="Analyze">
       </form>
   </body>
</html>
